#bgBody{
	padding: 0;
}
		#bgBody ul li{border-bottom: 1px solid #141417;}
		#bgBody ul li:hover,#bgBody ul li:active{
			background: #ABB1AA;
		}
		#bgBody ul li,#bgBody div{
			background: #E4E4E4;
		}
.columnflx{
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
	.columnflx .art1{
		width: 50%;
	}
	.columnflx .art2{
		width: 20%;
	}
	.columnflx .art3{
		width: 25%;
	}
#idngal{
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
	#idngal #galery{
		background: #202020;
		padding: 0.5em;
		width: 55%;
	}
	#idngal #indicadores{
		width: 40%;
	}
	#indicadores h2{
		margin: 0;
		text-transform: uppercase;
	}
	#indicadores .ha{
		background: #004000;
		color: #fff;
		padding-top:1em; 
	}
	#indicadores .hb{
		background: #E4E4E4;
		position: relative;
		margin-top: -0.8em;
	}
	#tiempo div{
		margin: 0 auto;
	}
#todositios{
	background: #004000;
	padding: 0.5em 0;
}
	#todositios figure:hover{
		opacity: 0.6;
	}
#txcldo{
	background: #BFC0C2;
	color: #005F00;
	text-align: center;
}
.yap{
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
	.yap article{
		text-align: justify;
		width: 30%;
	}
		.yap article a{
			font-size: 14px;
			color: #004100;
			text-transform: uppercase;
			text-decoration: none;
		}
		.yap article a:hover,.yap article a:active{
			text-decoration: underline;
		}
		.yap article h3{
			margin: 0.5em 0;
			text-align: center;
		}
@media screen and (max-width: 900px){
	#idngal,.columnflx,.yap{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		#idngal #galery,#idngal #indicadores,.yap article{
			margin: 1em auto;
			width: 90%;
		}
		.columnflx .art1,.columnflx .art2,.columnflx .art3{
			margin: 1em auto;
			width: 90%;
		}
}