i{
	font-size: 12px;
	font-style: italic;
}
.pasnnt{
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-justify-content: space-around;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	margin-bottom: 1em;
}
	.pasnnt article{
		margin-bottom: 1em;
		text-align: justify;
		width: 25%;
	}
		.pasnnt article a{
			font-size: 14px;
			color: #004100;
			text-decoration: none;
			text-transform: uppercase;
		}
		.pasnnt article h3{
			margin: 0.5em 0;
			text-align: center;
		}
		.pasnnt article a:hover,.pasnnt article a:active{
			text-decoration: underline;
		}
.txG{
	padding: 0 1em;
}
@media screen and (max-width: 900px){
	.pasnnt{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		.pasnnt article{
			margin: 1em auto;
			width: 90%;
		}
}